main {
    width: 185px;
    padding: 2em;
    background-color: rgb(69, 107, 132);
    border-radius: 0.5em;
    margin: 0 auto;
}

section{
    margin-right: 0.3em;
}

textarea{
    resize: none;
    margin-left: 1.3em;
    height: 6em;
    margin-bottom: 0.8em;
}

.row{
    margin-bottom: 0.3em;
}

.symbol-button,
.number-button {
    width: 3em;
    height: 3em;
    margin-left: 0.3em;    
}

.large-button {
    margin-left: 0.3em;
    height: 3em;
    width: 6.3em;
}

.modal-body{
    max-height: 80vh;
    overflow-y: auto;
}